<p id="notice"><%= notice %></p>

<h1>Mysites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mysites.each do |mysite| %>
      <tr>
        <td><%= mysite.name %></td>
        <td><%= mysite.website %></td>
        <td><%= link_to 'Show', mysite %></td>
        <td><%= link_to 'Edit', edit_mysite_path(mysite) %></td>
        <td><%= link_to 'Destroy', mysite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mysite', new_mysite_path %>
